* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.933);
}
::selection{
  background: rgb(190, 0, 0);
color: white
}
html {
  margin: 0;
  padding: 0;
}
li a {
  text-decoration: none;
  text-transform: uppercase;
}
.burger {
  display: none;
}
.header {
  background: url(destination/background-destination-desktop.jpg);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
  top: 30px;
}
.icon {
  position: relative;
  left: 4em;
  top: 0.3em;
}
hr {
  width: 32em;
  position: relative;
  left: 5em;
  top: 1.9em;
  border-color: rgba(255, 255, 255, 0.63);
}
#nav-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  background: rgba(255, 255, 255, 0.034);
  backdrop-filter: blur(3px);
  padding: 0.5em 9.5em 0.5em 6em;
}
li {
  position: relative;
  margin: 0.8em;
}
li a {
  color: rgb(255, 255, 255);
  padding: 0.4em;
  padding-bottom: 1.5em;
}
li ::after {
  content: " ";
  display: block;
  width: 0%;
  height: 3px;
  border-radius: 80px;
  position: absolute;
  top: 2.3em;
  background-color: rgb(255, 254, 254);
}
li :hover::after {
  width: 98%;
  transition: ease-out all 0.5s;
}
li a:hover {
  color: rgb(94, 158, 218) !important;
}
.active {
  color: rgb(94, 158, 218) !important;
}
.active::after {
  width: 98%;
}
#All {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  top: 7em;
  left: 10em;
  flex-wrap: wrap;
}
#planet {
  width: 40%;
  margin-right: 7em;
}

.title {
  text-transform: uppercase;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 1;
}
.title .numb {
  color: #494949;
  font-weight: 900;
  margin-right: 0.5em;
}
.moon {
  display: grid;
  place-items: center;
  margin: 60px 0px 0px 100px;
  width: 65%;
}
.moon img {
  width: 20em;
}
#descrption {
  width: 50%;
  display: flex;
  flex-direction: column;
  top: 4em;
  position: relative;
}

#nav-list2 {
  display: flex;
  list-style: none;
  text-decoration: none;
}
#nav-list2 li {
  padding: 1em 0em 0.5em 0em;
  margin: 0.5em 2em 0.5em 0em;
  padding-left: 0%;
  margin-left: 0;
}

#nav-list2 li a {
  padding: 1em 0.3em 1em 0em;
  text-transform: uppercase;
}
#nav-list2 li ::after {
  top: 2.6em;
}
.destination-title {
  font-size: 4em;
  text-transform: uppercase;
  padding: 0.1em 1em 0.3em 0em;
}
#words1 .words {
  width: 65%;
  font-size: 17px;
  text-align: justify;
  padding-bottom: 2em;
  border-bottom: 1px solid rgb(151, 151, 151);
}
#info {
  position: relative;
  top: 1em;
  width: 65%;
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 1350px) and (min-width: 700px) {
  .header {
    background: url(destination/background-destination-tablet.jpg);
    background-size: cover;
    background-position: center;
    height: 140vh;
  min-height: 100vh;}
  li a {
    width: 100%;
  }
  .nav-bar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    top: 30px;
  }
  #nav-list {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding-left: 1em;
    padding-right: 1em;
    backdrop-filter: blur(0px);
    padding: 0em 0em 0em 0em;
    font-size: 80%;
  }

  .icon {
    left: 10px;
  }
  .hr {
    display: none;
  }
  li {
    position: relative;
    padding: 0.3%;
    font-size: 1.5em;
  }
  .active::after {
    width: 100%;
  }
  #planet {
    width: 31em;
    height: 21em;
    align-items: center;
    margin: 0;
  }
  #All {
    display: flex;
    justify-content: space-evenly;
    position: initial;
    top: 9em;
    left: 0em;
    padding-top:10em;
    flex-direction: column;
    align-items: center;
  }
  .title {
    position: relative;
    font-size: 1.9em;
    position: relative;
    font-size: 1.9em;
    top: -37px;
    left: -74px;

;
  }
  .moon {
    margin: 0px 0px 0px 0px;
    width: 0%;
    position: static;
  }

  #descrption {
    width: auto;
    
    position: static;
  }
  .moon img {
    width: 19em;
  }
  #words1 .words {
    width: 40em;
  }
  #info {
    position: static;
    margin-top: 2em;
    width: 100%;
  }
}
@media screen and (orientation: landscape)  and (max-width: 1350px) and (min-width: 700px){
    *{
      font-size:95%;
    }
    #descrption {
    margin-top: 10em;
    }
    #planet{
      height: 16em;
    }
    #info{
    width: 100%;
    } 
   }
   @media (max-width: 699px) {
    header {
      background: url(destination/background-destination-mobile.jpg);
      height: 100vh;
    }
    .burger span {
      width: 100%;
      background: rgba(0, 0, 0, 0.933);
      height: 4px;
     
    }
    .burger {
      /* z-index: 99; */
      position: absolute;
      z-index: 99;
      overflow: hidden;
      width: 50px;
      height: 50px;
      background: rgba(255, 254, 254, 0.933);
      display: flex;
      cursor: pointer;
      flex-wrap: wrap;
      padding: 8px;
      right: 8px;
      top:1em;
    }.burger span{
      transition: all .4s;
  
    }.openYourMenu .burger span:nth-of-type(1) {
      transform: rotate(-44deg) translate(-11px, 13px);
    }.openYourMenu .burger span:nth-of-type(2) {
      transform: translateX(-30px);
      opacity: 0;
    }.openYourMenu .burger span:nth-of-type(3) {
      transform: rotate(45deg) translate(-4px, -5px);
    }
    .nav-bar {
      flex-direction: column;
      top: 0;;
    }
    .icon {
      position: static;
      margin-left: 12px;
      padding-top: 1em;  
    }
    hr {
      display: none;
    }
    #nav-list {
      position: absolute;
      width: 0px;
      height: 0px;
      overflow:hidden;
      top: 0px;
      right: 0;
      text-align: center;
      padding: 0em;
      flex-direction: column;
      transition: all .5s ease-in-out;
    }.openYourMenu #nav-list{
      width: 100% !important;
      height: 250px !important;
      padding: 1em !important;
    }
  
    #nav-list li a {
      display: block;
      padding: 0.2em 0px;
    }
  
  #planet {
    width: 13em;
    height: 2em;
    align-items: center;
    margin: 0;
  }
  #All {
    display: flex;
    justify-content: space-evenly;
    position: initial;
    top: 9em;
    left: 0em;
    padding-top: 4em;
    flex-direction: column;
    align-items: center;
  }
  .title {
    position: static;
    font-size: 1em;
   
  }
  .moon {
    margin: 0px 0px 0px 0px;
    width: 10%;
    position: static;
  }
  
  #descrption {
    width: auto;
    position: static;
    font-size:13px;
    margin-top: 13em;
  }
  .moon img {
  margin-top: 10px;
    width: 9em;
  }
  #words1 .words {
    width: 15em;
  }
  #info {
    position: static;
    margin-top: .5em;
    width: 100%;
  }
    
  
  }